@using eBlog.Application.DTOs.Auth
@model LoginDto

<form method="post" asp-controller="Auth" asp-action="Login">
    <div class="form-group">
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control" name="email" value="string@gmail.com" required />
    </div>
    <div class="form-group">
        <label>Şifre</label>
        <input type="password" class="form-control" name="password" value="string" required />
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
